@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #FFFFFF;
  margin: 0;
  font-family: 'InterRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*
Font Weight	Numerical Weight
"Thin", "Hairline"	100
"Extra Light", "Ultra Light"	200
"Light", "Book"	300
"Normal", "Regular", "Roman", "Standard", "Plain"	400/Normal
"Medium", "Demi"	500
"Semi Bold", "Semi Bld", "Demi Bold", "Demi Bld"	600
"Bold", "Bld"	700/Bold
"Extra Bold", "Ultra Bold", "Extra Bld", "Ultra Bld"	800
"Black", "Heavy", "Ultra", "Fat", "Poster", "Ultra Black" 	 900
*/

@layer base {
	@font-face {
		font-family: "GeneralSansRegular";
		font-weight: 400;
		src: local("GeneralSansRegular"),
			url(./assets/fonts/GeneralSans-Regular.otf) format("opentype");
	}
	@font-face {
		font-family: "GeneralSansMedium";
		font-weight: 500;
		src: local("GeneralSansMedium"),
			url(./assets/fonts/GeneralSans-Medium.otf) format("opentype");
	}
	@font-face {
		font-family: "GeneralSansSemibold";
		font-weight: 600;
		src: local("GeneralSansSemibold"),
			url(./assets/fonts/GeneralSans-Semibold.otf) format("opentype");
	}
	@font-face {
		font-family: "InterRegular";
		font-weight: 400;
		src: local("InterRegular"),
			url(./assets/fonts/Inter-Regular.ttf) format("truetype");
	}
	@font-face {
		font-family: "InterMedium";
		font-weight: 500;
		src: local("InterMedium"),
			url(./assets/fonts/Inter-Medium.ttf) format("truetype");
	}
	@font-face {
		font-family: "InterSemibold";
		font-weight: 600;
		src: local("InterSemibold"),
			url(./assets/fonts/Inter-SemiBold.ttf) format("truetype");
	}
}

.loading {
	height: 40vmin;
	pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
	.loading {
		animation: loading-spin infinite 1s linear;
	}
}
@keyframes loading-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
